/*
 * @Author: 焦质晔
 * @Date: 2021-02-09 09:27:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2022-03-11 21:12:37
 */
@import '../../style/src/common';

$prefix: '#{$qm-prefix}-dialog';

.#{$prefix} {
  &__flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 0 !important;
    .el-dialog__body {
      flex: 1;
      height: 0;
    }
  }
  &.is-fullscreen {
    margin-top: 0;
    margin-bottom: 0;
  }
  .el-dialog__header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 44px;
    margin: 0;
    padding: 0 10px 0 15px;
    border-bottom: 1px solid $border-color-base;
    box-sizing: border-box;
    .dialog-title {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: $font-size-lg;
      .title {
        flex: 1;
      }
      .fullscreen {
        padding: 5px;
        margin-right: 22px;
        font-size: 16px;
        color: $text-color-secondary;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .el-dialog__headerbtn {
    position: absolute;
    top: 6px;
    font-size: 21px;
    color: $text-color-secondary;
    width: auto;
    height: auto;
    padding: 5px;
    margin-right: 5px;
    line-height: 0;
    outline: none;
  }
  .el-dialog__body {
    padding: 0;
    .dialog-container {
      height: 100%;
      padding: $padding-base;
      word-break: normal;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
  .el-dialog__footer {
    display: none;
  }
  // ------ size ------
  // 40  36  32  28
  &--large {
    .el-dialog__header {
      height: 48px;
    }
    .el-dialog__headerbtn {
      top: 8px;
    }
  }
  &--small {
    .el-dialog__header {
      height: 40px;
    }
    .el-dialog__headerbtn {
      top: 4px;
    }
  }
}
