/*
 * @Author: 焦质晔
 * @Date: 2020-05-19 19:18:15
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-09-12 21:53:16
 */
$prefix: '#{$qm-prefix}-empty';

.#{$prefix} {
  @include reset-component();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .description {
    font-size: $font-size-base;
    color: $disabled-color;
    line-height: $line-height-base;
  }
  // ------ size ------
  // 40  36  32  28
  &--large {
    .description {
      font-size: $font-size-base;
    }
  }
  &--small {
    .description {
      font-size: $font-size-sm;
    }
  }
}
