/*
 * @Author: 焦质晔
 * @Date: 2020-03-18 10:26:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-11-06 17:18:13
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix}__alert {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: $v-module-distance;
  padding: 0 6px 0 30px;
  border: 1px solid $v-table-border-color;
  border-radius: $v-border-radius;
  background-color: $v-table-header-background-color;
  @extend %boxSizing;
  .icon {
    position: absolute;
    left: $v-module-distance;
    line-height: 1;
    font-size: 1.05em;
    color: $v-primary-color;
  }
  em {
    display: inline-block;
    color: $v-primary-color;
    padding: 0 $v-module-distance;
    margin-right: -5px;
    font-style: normal;
    cursor: pointer;
  }
}
