/*
 * @Author: 焦质晔
 * @Date: 2020-03-26 11:26:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2022-05-25 13:57:45
 */
 $prefix: '#{$qm-prefix}-table';

 .#{$prefix}-clipboard {
   display: inline-block;
   padding: 5px 3px;
   line-height: 1;
   cursor: pointer;
   transition: all 0.3s ease;
   .icon {
     font-size: 1.05em;
   }
   &__setting {
    .info {
      padding-left: 20px;
      font-size: $v-font-size-small;
      color: $v-font-secondary-dark-color;
      font-weight: normal;
      padding-bottom: 5px;
    }
  }
 }
