/*
 * @Author: 焦质晔
 * @Date: 2020-05-19 19:18:15
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-09-12 22:09:00
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix}--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  pointer-events: none;
}
