/*
 * @Author: 焦质晔
 * @Date: 2020-05-30 14:13:37
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2022-03-11 21:15:58
 */
@use 'sass:math';
$prefix: '#{$qm-prefix}-table';

.#{$prefix} {
  // 40  36  32  28
  &--default {
    font-size: $v-font-size;
    .#{$prefix}-top {
      height: $v-table-row-height-default - 4px;
    }
    .header--column,
    .body--column,
    .footer--column {
      &.col--ellipsis {
        height: $v-table-row-height-default;
      }
      &:not(.col--ellipsis) {
        padding: #{math.div($v-table-row-height-default - $v-table-row-line-height, 2)} 0;
      }
    }
    .row--height {
      height: $v-table-row-height-default;
    }
  }

  &--large {
    font-size: $v-font-size-large;
    .#{$prefix}-top {
      height: $v-table-row-height-large - 4px;
    }
    .header--column,
    .body--column,
    .footer--column {
      &.col--ellipsis {
        height: $v-table-row-height-large;
      }
      &:not(.col--ellipsis) {
        padding: #{math.div($v-table-row-height-large - $v-table-row-line-height, 2)} 0;
      }
    }
    .row--height {
      height: $v-table-row-height-large;
    }
  }

  &--small {
    font-size: $v-font-size-small;
    .#{$prefix}-top {
      height: $v-table-row-height-small - 4px;
    }
    .header--column,
    .body--column,
    .footer--column {
      &.col--ellipsis {
        height: $v-table-row-height-small;
      }
      &:not(.col--ellipsis) {
        padding: #{math.div($v-table-row-height-small - $v-table-row-line-height, 2)} 0;
      }
    }
    .row--height {
      height: $v-table-row-height-small;
    }
  }
}

.#{$prefix}__popper--small {
  .head-filter--wrap {
    font-size: $v-font-size-small;
  }
  .column-filter--wrap {
    font-size: $v-font-size-small;
  }
}
