/*
 * @Author: 焦质晔
 * @Date: 2021-10-28 12:20:04
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-10-28 12:29:24
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix}-top {
  display: flex;
  white-space: nowrap;
  margin-bottom: $v-module-distance;
  &__space {
    flex: 1;
    display: inherit;
    justify-content: space-between;
    &-slot {
      flex: 1;
      display: inherit;
      height: 100%;
      margin-right: $v-module-distance;
    }
  }
  &__actions {
    display: inherit;
    align-items: center;
  }
}
